* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(76, 76, 76);
  font-family: monospace;
}

body {  
  position: absolute;
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 1rem;
}

h1 {
  text-align: center;
  margin: 0.5rem;
}

#filehandler {
  margin: 0.5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

#filehandler > button {
  background-color: white;
  padding: 0.2rem 0.5rem;
}

#filehandler > button:hover {
  cursor: pointer;
}

#editor {
  margin: 1rem;
  margin-bottom: 5rem;
  width: 100%;
  height: 90%;
}